body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#rigthNormalLabel{
	position: absolute;
	right: 5%;
	top: 70px;
}

#rigthFactoryLabel{
	position: absolute;
	right: 5%;
	top: 110px;
}

#rigthPrototypeLabel{
	position: absolute;
	right: 5%;
	top: 150px;
}